name: Build Unity Project

on:
  workflow_call:
    inputs:
      version:
        description: 'Build version'
        required: true
        type: string
    secrets:
      UNITY_EMAIL:
        required: true
      UNITY_PASSWORD:
        required: true
      UNITY_LICENSE:
        required: true
    outputs:
      artifact-name:
        description: "Unity build artifact name"
        value: ${{ jobs.build-unity.outputs.artifact-name }}

jobs:
  build-unity:
    name: Build Unity for Windows
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.set-output.outputs.artifact-name }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ hashFiles('Packages/manifest.json', 'Packages/packages-lock.json') }}
          restore-keys: Library-

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          swap-storage: true
          dotnet: true

      - name: Build Unity Project
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          buildName: GameLauncher
          targetPlatform: StandaloneWindows64
          allowDirtyBuild: true

      - name: Set Output
        id: set-output
        run: |
          ARTIFACT_NAME="unity-build-${{ inputs.version }}"
          echo "artifact-name=${ARTIFACT_NAME}" >> $GITHUB_OUTPUT

      - name: Upload Unity Build
        uses: actions/upload-artifact@v4
        with:
          name: unity-build-${{ inputs.version }}
          path: build/StandaloneWindows64/
          retention-days: 1
